{% load static %}

<!-- Для non_field_erors  -->
{% if form.non_field_errors %}
    <div class="container mb-3">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ form.non_field_errors }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- Для оповещений -->
<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div id="notification" class="alert alert-success fade show" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                    {% if message.tags == 'warning' %}
                        <div id="notification" class="alert alert-danger fade show" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div id="jq-notification" class="alert alert-success fade show" style="display: none;" role="alert">
                </div>
            {% endif %}
        </div>
    </div>
</div>